@{
    ViewBag.Title = "Empresa";
}


<!-- ----------------- F  O  R  M  U  L  A  R  I  O   S ----------------- -->
<div class="w3-content" style="max-width:1564px">
    <div class="w3-container">
        <div class="w3-modal-content">
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'Empresas')" id="empresas">Empresas</button>
                <button class="tablinks" onclick="openCity(event, 'Titulares')">Titulares</button>
                <button class="tablinks" onclick="openCity(event, 'Empleados')">Empleados</button>
                <button class="tablinks" onclick="openCity(event, 'Antecedentes')">Antecedentes</button>
                <button class="tablinks" onclick="openCity(event, 'Contador')">Contador</button>
            </div>


            <div id="Empresas" class="tabcontent">

                <!-- -------------------- Razon Social / Nombre Fantasia / Cuit -------------------- -->
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Razon Social</div>
                        <input type="text" id="RazonSocial" name="RazonSocial" class="w3-input w3-ligth-grey " onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky  ">Nombre Fantasia</div>
                        <input type="text" id="NombreFantasia" name="NombreFantasia" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Cuit</div>
                        <input type="number" id="Cuit" name="Cuit" class="w3-input w3-ligth-grey " onchange="changeCampos()">
                    </div>
                </div>
                <br>

                <!-- -------------------- Fecha / Importe / Interes_Mora -------------------- -->

                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Domicilio Real</div>
                        <input type="text" id="DomicilioReal" name="DomicilioReal" class="w3-input w3-ligth-grey " onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Localidad Real</div>
                        <select class="w3-select" name="LocalidadReal" id="LocalidadReal">
                            <option value="0">< Seleccione una localidad ></option>
                            @{
                                if (ViewData["Localidades"] != null)
                                {
                                    IEnumerable<dynamic> Localidades = (IEnumerable<dynamic>)ViewData["Localidades"];

                                    foreach (dynamic Loc in Localidades)
                                    {
                                        //string Descripcion = EmpAct.Descripcion;
                                        //int Id = EmpAct.Id;
                                        if (@Loc.Id != 0)
                                        {
                                            <option value="@Loc.Id">@Loc.Nombre_Localidad</option>
                                        }
                                    }
                                }
                            }

                        </select>
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Telefono Real</div>
                        <input type="number" id="TelefonoReal" name="TelefonoReal" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                    </div>
                </div>
                <br>

                <!-- -------------------- Fecha / Importe / Interes_Mora -------------------- -->

                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Actividad</div>

                        <select class="w3-select" name="Actividad" id="Actividad">
                            <option value="0">< Seleccione una actividad ></option>
                            @{
                                if (ViewData["Empresas_Actividades"] != null)
                                {
                                    IEnumerable<dynamic> Empresas_Actividades = (IEnumerable<dynamic>)ViewData["Empresas_Actividades"];

                                    foreach (dynamic EmpAct in Empresas_Actividades)
                                    {
                                        //string Descripcion = EmpAct.Descripcion;
                                        //int Id = EmpAct.Id;
                                        if (EmpAct.Id != 0) { 
                                            <option value="@EmpAct.Id">@EmpAct.Descripcion</option>
                                        }
                                    }
                                }
                            }
                        </select>

                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Email</div>
                        <input type="email" id="Email" name="Email" class="w3-input w3-ligt+h-grey " onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Pagina Web</div>
                        <input type="text" id="PaginaWeb" name="PaginaWeb" class="w3-input w3-ligth-grey " onchange="changeCampos()">
                    </div>
                </div>
                <br>

                <!-- -------------------- Fecha / Importe / Interes_Mora -------------------- -->

                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Domicilio Legal</div>
                        <input type="text" id="DomicilioLegal" name="DomicilioLegal" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Localidad Legal</div>
                        <input type="text" id="LocalidadLegal" name="LocalidadLegal" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Telefono Legal</div>
                        <input type="number" id="TelefonoLegal" name="TelefonoLegal" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                    </div>
                </div>
                <br>

                <!-- -------------------- Fecha / Importe / Interes_Mora -------------------- -->

                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Sucursal 1</div>
                        <input type="text" id="Sucursal1" name="Sucursal1" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Sucursal 1</div>
                        <input type="text" id="Sucursal2" name="Sucursal2" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Sucursal 1</div>
                        <input type="text" id="Sucursal3" name="Sucursal3" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                </div>
                <br>

            </div>


            <div id="Titulares" class="tabcontent">
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Apellido Nombre</div>
                        <input type="text" id="ApellidoNombreTitular" name="ApellidoNombreTitular" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Domicilio Particular</div>
                        <input type="text" id="DomicilioParticularTitular" name="DomicilioParticularTitular" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Documento</div>
                        <input type="number" id="DocumentoTitular" name="DocumentoTitular" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                </div>
                <br>

                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Cargo Empresa</div>
                        <input type="text" id="CargoEmpresaTitular" name="CargoEmpresaTitular" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <button class="w3-right w3-margin-top w3-button w3-card bg-zul w3-text-white w3-hover-blue w3-hover-border-cyan" type="submit" onclick="insertarTitular()">
                            Agregar Titular
                        </button>
                    </div>
                </div>
                <br>

                <div class="container">
                    <table>
                        <thead>
                            <tr>
                                <th>Apellido Nombre</th>
                                <th>Domicilio</th>
                                <th>Documento</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="bodyTitular">
                        </tbody>
                    </table>
                </div>
            </div>


            <div id="Empleados" class="tabcontent">
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Apellido Nombre</div>
                        <input type="text" id="ApellidoNombreEmpleado" name="ApellidoNombreEmpleado" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Cuil</div>
                        <input type="number" id="CuilEmpleado" name="CuilEmpleado" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Fecha Ingreso Empleado</div>
                        <input type="date" id="FechaIngresoEmpleado" name="FechaIngresoEmpleado" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                </div>
                <br>
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky">Categoria</div>
                        <select class="w3-select" name="CategoriaEmpleado" id="CategoriaEmpleado">
                            <option value="0">< Seleccione una Calificacion Profesional ></option>
                            @{
                                if (ViewData["CalifProf"] != null)
                                {
                                    IEnumerable<dynamic> CalifProf = (IEnumerable<dynamic>)ViewData["CalifProf"];

                                    foreach (dynamic Loc in CalifProf)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Total de Remuneracion</div>
                        <input type="number" id="TotRemuneracionEmpleado" name="TotRemuneracionEmpleado" class="w3-input w3-ligth-grey w3-right-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Afiliado</div>
                        <select class="w3-select" name="Afiliado" id="Afiliado">
                            <option value="NO">NO</option>
                            <option value="SI">SI</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Jornada</div>
                        <select class="w3-select" name="JornadaEmpleado" id="JornadaEmpleado">
                            <option value="COMPLETA">JORNADA COMPLETA</option>
                            <option value="MEDIA">1/2 JORNADA</option>
                        </select>
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                       
                    </div>
                </div>
                <br>
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <button class="w3-right w3-margin-top w3-button w3-card bg-zul w3-text-white w3-hover-blue w3-hover-border-cyan" type="submit" onclick="insertarEmpleado()">
                            Agregar empleado
                        </button>
                    </div>
                </div>
                <br>


                <div class="container">
                    <table id="tablaEmpleados">
                        <thead>
                            <tr>
                                <th>Apellido y Nombre</th>
                                <th>Cuil</th>
                                <th>Fecha Ingreso</th>
                                <th>Categoria</th>
                                <th>Remuneracion</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="bodyEmpleado">
                        </tbody>
                    </table>
                </div>
            </div>


            <div id="Antecedentes" class="tabcontent">
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Sucesora de</div>
                        <input type="text" id="SucesoraAntecedente" name="SucesoraAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Numero de Empresa</div>
                        <input type="number" id="NumeroEmpresaAntecedente" name="NumeroEmpresaAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Fecha de Transferencia</div>
                        <input type="date" id="FechaTransferenciaAntecedente" name="FechaTransferenciaAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                </div>
                <br>
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Calle</div>
                        <input type="text" id="CalleAntecedente" name="CalleAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Piso</div>
                        <input type="text" id="PisoAntecedente" name="PisoAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Localidad</div>
                        <input type="text" id="LocalidadAntecedente" name="LocalidadAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                </div>
                <br>
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Codigo Postal</div>
                        <input type="number" id="CPAntecedente" name="CPAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Provincia</div>
                        <input type="text" id="ProvinciaAntecedente" name="ProvinciaAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Telefono</div>
                        <input type="number" id="TelefonoAntecedente" name="TelefonoAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                </div>
                <br>
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <button class="w3-right w3-margin-top w3-button w3-card bg-zul w3-text-white w3-hover-blue w3-hover-border-cyan"type="submit" onclick="insertarAntecedente()">
                            Agregar Antecedente
                        </button>
                    </div>
                </div>
                <br />

                <div class="container">
                    <table>
                        <thead>
                            <tr>
                                <th>Sucesora</th>
                                <th>Numero</th>
                                <th>Fecha Transf.</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="bodyAntecedente">
                        </tbody>
                    </table>
                </div>
            </div>


            <div id="Contador" class="tabcontent">
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky">Nombre/Estudio</div>
                        <input type="text" id="NombreEstudioContador" name="NombreEstudioContador" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Direccion</div>
                        <input type="text" id="DireccionContador" name="DireccionContador" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Telefono</div>
                        <input type="number" id="TelefonoContador" name="TelefonoContador" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                </div>
                <br>

                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-blue-grey">
                        <div class="w3-padding w3-bluesky ">Email</div>
                        <input type="email" id="EmailContador" name="EmailContador" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                     </div>
                    <div class="w3-third w3-container w3-text-blue-grey">
                    </div>
                </div>

                <br />
            </div>

            <button class="w3-right w3-margin-top w3-button w3-card bg-zul w3-text-white w3-hover-blue w3-hover-border-cyan" type="submit" onclick="return enviar();">
                Enviar
            </button>

        </div>

    </div>

</div>
<br />

@section scripts{
    <script src="~/js/tabPag.js"></script>
    <script src="~/js/EnviarMatriz.js"></script>
}