@{
    ViewBag.Title = "Empresa";
}

<div class="container-100">
    <div class="wrap-100">
        <div class="form-100 validate-form">
            <span class="title-100-form"> Formulario de solicitud de preinscripcion de Empresas </span>
            @if (ViewBag.Email != null)
            {
                <span class="title-15-form">
                    <b>Garantice la seguridad de su cuenta y manténgase actualizado</b>
                </span>
                <p class="title-10-form">
                    Se ha enviado un correo electrónico de verificación a <b>@ViewBag.Email</b>. Por favor
                    revise su bandeja de entrada y siga las instrucciones para verificar su dirección de
                    correo electrónico.
                </p>
            }
        </div>

        @using (Html.BeginForm("Empresa", "Home", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "box" }))
        {
            <div class="form-body">
                <fieldset>
                    <legend>Datos Empresariales</legend>
                </fieldset>
                <div class="row">
                    <div class="form-group has-feedback col-lg-4">
                        <div class="input-group ">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input class="form-control input-mask-format" data-error="CUIL es un campo requerido." data-masked-input="99-99999999-9" data-validate="false" id="Cuit" maxlength="13" name="Cuit" placeholder="XX-XXXXXXXX-X (Cuit)" required="required" type="text" value="@ViewBag.vacio" autocomplete="off" onchange="valiCuit();">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-4">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input class="form-control" data-error="RazonSocial es un campo requerido." id="RazonSocial" name="RazonSocial" placeholder="Razon Social" onchange="changeCampos()" required="required" type="text">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-4">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input class="form-control" data-error="NombreFantasia es un campo requerido." id="NombreFantasia" name="NombredeFantasia" placeholder="NombreFantasia" onchange="changeCampos()" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback col-lg-4">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
                            <input class="form-control" id="DomicilioReal" maxlength="200" name="DomicilioReal" onchange="changeCampos()" placeholder="Direccion Real" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-2">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input class="form-control" id="NroReal" maxlength="10" name="NroReal" placeholder="N° Real" type="number" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-2">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input class="form-control" id="PisoReal" maxlength="10" name="PisoReal" placeholder="Piso Real" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-2">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input class="form-control" id="DtoReal" maxlength="10" name="DtoReal" placeholder="Dto Real" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></div>
                            <select class="form-control" data-error="LocalidadReal es un campo requerido." data-val="true" data-val-number="The field Localidad Real must be a number." data-val-required="The Localidad Real field is required." id="LocalidadReal" name="LocalidadReal" placeholder="Localidad Real" required="required">
                                <option value="0">- Localidad Real -</option>
                                @{
                                    if (ViewData["Localidades"] != null)
                                    {
                                        IEnumerable<dynamic> Localidades = (IEnumerable<dynamic>)ViewData["Localidades"];

                                        foreach (dynamic Loc in Localidades)
                                        {
                                            //string Descripcion = EmpAct.Descripcion;
                                            //int Id = EmpAct.Id;
                                            if (@Loc.Id != 0)
                                            {
                                                <option value="@Loc.Id">@Loc.Nombre_Localidad</option>
                                            }
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></div>
                            <input class="form-control bfh-phone" id="TelefonoReal" maxlength="200" name="TelefonoReal" placeholder="Telefono Real / Wsp" type="tel" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback col-lg-4">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
                            <input class="form-control" data-error="Domicilio Legal es un campo uiuerido." id="DomicilioLegal" maxlength="200" name="DomicilioLegal" onchange="changeCampos()" placeholder="Domicilio Legal" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-2">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input class="form-control" data-error="Numero Legal es un campo uiuerido." id="NroLegal" maxlength="200" name="NroLegal" placeholder="N° Legal" type="number" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-2">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input class="form-control" id="PisoLegal" maxlength="10" name="PisoLegal" placeholder="Piso Legal" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-2">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input class="form-control" id="DtoLegal" maxlength="10" name="DtoLegal" placeholder="Dto Legal" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
                            <input class="form-control" data-error="Calle es un campo uiuerido." id="LocalidadLegal" maxlength="200" name="LocalidadLegal" placeholder="Localidad Legal" required="required" type="text" value="" onchange="changeCampos()">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
                            <input class="form-control" data-error="CP es un campo uiuerido." id="CPLegal" maxlength="10" name="CPLegal" placeholder="CP Legal" min="0" required="required" type="number" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></div>
                            <input class="form-control bfh-phone" id="TelefonoLegal" maxlength="200" name="TelefonoLegal" placeholder="Telefono Legal / Wsp" type="tel" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></div>
                            <select class="form-control" data-error="Actividad es un campo requerido." data-val="true" data-val-number="The field Actividad must be a number." data-val-required="The Actividad field is required." id="Actividad" name="Actividad" placeholder="Actividad" required="required">
                                <option value="0">- Actividad -</option>
                                @{
                                    if (ViewData["Empresas_Actividades"] != null)
                                    {
                                        IEnumerable<dynamic> Empresas_Actividades = (IEnumerable<dynamic>)ViewData["Empresas_Actividades"];

                                        foreach (dynamic EmpAct in Empresas_Actividades)
                                        {
                                            //string Descripcion = EmpAct.Descripcion;
                                            //int Id = EmpAct.Id;
                                            if (EmpAct.Id != 0)
                                            {
                                                <option value="@EmpAct.Id">@EmpAct.Descripcion</option>
                                            }
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                            <input class="form-control" id="Email" maxlength="200" name="Email" placeholder="Email" onchange="changeCampos()" required="required" type="email" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                            <input class="form-control" id="EmailConfirmacion" maxlength="200" name="EmailConfirmacion" placeholder="Repetir Email" onchange="changeCampos()" required="required" type="email" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></div>
                            <input class="form-control" data-error="PaginaWeb es un campo requerido." id="PaginaWeb" name="PaginaWeb" placeholder="Pagina Web" onchange="changeCampos()" type="text">
                        </div>
                    </div>
                </div>

                <br />
                <br />

                <fieldset>
                    <legend>Titulares</legend>
                </fieldset>
                <div class="row">
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group ">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input class="form-control" data-error="ApellidoNombreTitular es un campo requerido." data-validate="false" id="ApellidoNombreTitular" name="ApellidoNombreTitular" placeholder="Apellido y Nombre" onchange="changeCampos()" type="text" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></div>
                            <input class="form-control" data-error="DocumentoTitular es un campo requerido." id="DocumentoTitular" name="DocumentoTitular" placeholder="DNI" type="number">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
                            <input class="form-control" data-error="DomicilioParticularTitular es un campo requerido." id="DomicilioParticularTitular" name="DomicilioParticularTitular" placeholder="Domicilio" onchange="changeCampos()" type="text">
                        </div>
                    </div>

                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></div>
                            <input class="form-control" id="CargoEmpresaTitular" name="CargoEmpresaTitular" placeholder="Cargo Empresa" type="text" onchange="changeCampos()" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
                            <input class="form-control" data-error="Calle es un campo uiuerido." id="LocalidadEmpresaTitular" maxlength="200" name="LocalidadEmpresaTitular" placeholder="Localidad" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
                            <input class="form-control" data-error="CP es un campo uiuerido." id="EmpresaCPTitular" maxlength="10" name="EmpresaCPTitular" placeholder="CP" min="0" type="number" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <button class="w3-right enviar w3-card bg-zul w3-text-white w3-hover-green w3-hover-border-cyan" type="button" onclick="insertarTitular()">
                            Agregar Titular
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Apellido Nombre</th>
                                    <th>Domicilio</th>
                                    <th>Documento</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="bodyTitular">
                            </tbody>
                        </table>
                    </div>
                </div>

                <br />
                <br />

                <fieldset>
                    <legend>Empleados</legend>
                </fieldset>
                <div class="row">
                    <div class="form-group has-feedback col-lg-4">
                        <div class="input-group ">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input class="form-control" data-error="ApellidoNombreEmpleado es un campo requerido." data-validate="false" id="ApellidoNombreEmpleado" name="ApellidoNombreEmpleado" placeholder="Apellido y Nombre" onchange="changeCampos()" type="text" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-4">
                        <div class="input-group ">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input class="form-control input-mask-format" data-error="Cuil es un campo requerido." data-masked-input="99-99999999-9" data-validate="false" id="CuilEmpleado" maxlength="13" name="CuilEmpleado" placeholder="XX-XXXXXXXX-X (CUIL)" type="text" autocomplete="off" onchange="valiCuil();">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-4">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                            <input class="form-control hasDatepicker" data-error="Fecha Ingreso es un campo requerido." data-pattern-error="Verifique la fecha ingresada." id="FechaIngresoEmpleado" maxlength="10" name="FechaIngresoEmpleado" placeholder="F. Ingreso (DD/MM/YYYY)" type="text" value="" autocomplete="off" onfocus="(this.type='date')" onblur="(this.type='text')">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></div>
                            <select class="form-control" data-error="Categoria Empleado es un campo requerido." data-val="true" data-val-number="The field Categoria Empleado must be a number." data-val-required="The Categoria Empleado field is required." id="CategoriaEmpleado" name="CategoriaEmpleado" placeholder="Categoria">
                                <option value="-1">- Calificacion Profesional -</option>
                                @{
                                    if (ViewData["CalifProf"] != null)
                                    {
                                        IEnumerable<dynamic> CalifProf = (IEnumerable<dynamic>)ViewData["CalifProf"];

                                        foreach (dynamic Loc in CalifProf)
                                        {
                                            <option value="@Loc.Id">@Loc.Nombre</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></div>
                            <input class="form-control bfh-phone" id="TotRemuneracionEmpleado" name="TotRemuneracionEmpleado" placeholder="Total Remuneracion" type="number" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-2">
                        <div class="input-group">
                            <label><input type="checkbox" value="Convenio" name="chkConvenio" class="w3-check bg1" id="chkConvenio" checked disabled /> Conv. Colectivo </label><br />
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-2">
                        <div class="input-group">
                            <label><input type="checkbox" name="chkCuota" class="w3-check bg1" id="chkCuota" /> Cuota Afiliado </label> <br />
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-2">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></div>
                            <select class="form-control" data-error="Jornada es un campo requerido." data-val="true" data-val-number="The field Jornada must be a number." data-val-required="The Jornada field is required." id="JornadaEmpleado" name="JornadaEmpleado" placeholder="Jornada" required="required">
                                <option value="0"> - Jornada - </option>
                                <option value="COMPLETA">200 Horas</option>
                                <option value="MEDIA">100 Horas</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback col-lg-3">

                    </div>
                    <div class="form-group has-feedback col-lg-3">

                    </div>
                    <div class="form-group has-feedback col-lg-3">

                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <button class="w3-right enviar w3-card bg-zul w3-text-white w3-hover-green w3-hover-border-cyan" type="button" onclick="insertarEmpleado()">
                            Agregar Empleado
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <table id="tablaEmpleados">
                            <thead>
                                <tr>
                                    <th>Apellido y Nombre</th>
                                    <th>Cuil</th>
                                    <th>Fecha Ingreso</th>
                                    <th>Remuneracion</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="bodyEmpleado">
                            </tbody>
                        </table>
                    </div>
                </div>

                <br />
                <br />

                <fieldset>
                    <legend>Documentación requerida</legend>
                </fieldset>
                <div class="row" style="margin-bottom: 2em;">
                    <div class="form-group col-md-8 col-md-offset-2">
                        <label> Habilitacion Municipal y/o Contrato de Locacion </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="textHabilitacionMunicipal" placeholder="No hay ningún archivo seleccionado..." disabled="">
                            <span class="input-group-btn">
                                <label class="btn btn-success" type="button">
                                    Seleccionar<input id="fileHabilitacionMunicipal" name="fileHabilitacionMunicipal" type="file" data-size-max="10" style="display:none;" accept="image/png,image/jpeg,application/pdf" onchange="fileHabMunicipal();">
                                </label>
                            </span>
                        </div>
                        <div style="display: block;margin-top: 5px;margin-bottom: 10px;color: #737373;">
                            Tamaño máximo permitido 10MB
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 2em;">
                    <div class="form-group col-md-8 col-md-offset-2">
                        <label>Comprobante Inscripcion Afip o Constancia </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="textComprobanteAfip" placeholder="No hay ningún archivo seleccionado..." disabled="">
                            <span class="input-group-btn">
                                <label class="btn btn-success" type="button">
                                    Seleccionar<input id="fileComprobanteAfip" name="fileComprobanteAfip" type="file" data-size-max="10" style="display:none;" accept="image/png,image/jpeg,application/pdf" onchange="fileCompAfip();">
                                </label>
                            </span>
                        </div>
                        <div style="display: block;margin-top: 5px;margin-bottom: 10px;color: #737373;">
                            Tamaño máximo permitido 10MB
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 2em;">
                    <div class="form-group col-md-8 col-md-offset-2">
                        <label> Contrato Social o Estatuto </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="textContratoSocial" placeholder="No hay ningún archivo seleccionado..." disabled="">
                            <span class="input-group-btn">
                                <label class="btn btn-success" type="button">
                                    Seleccionar<input id="fileContratoSocial" name="fileContratoSocial" type="file" data-size-max="10" style="display:none;" accept="image/png,image/jpeg,application/pdf" onchange="fileContSocial();">
                                </label>
                            </span>
                        </div>
                        <div style="display: block;margin-top: 5px;margin-bottom: 10px;color: #737373;">
                            Tamaño máximo permitido 10MB
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 2em;">
                    <div class="form-group col-md-8 col-md-offset-2">
                        <label> Nota Escrita y Firmada por el Titular que avala la documentación </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="textNotaEscrita" placeholder="No hay ningún archivo seleccionado..." disabled="">
                            <span class="input-group-btn">
                                <label class="btn btn-success" type="button">
                                    Seleccionar<input id="fileNotaEscrita" name="fileNotaEscrita" type="file" data-size-max="10" style="display:none;" accept="image/png,image/jpeg,application/pdf" onchange="fileNota();">
                                </label>
                            </span>
                        </div>
                        <div style="display: block;margin-top: 5px;margin-bottom: 10px;color: #737373;">
                            Tamaño máximo permitido 10MB
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 2em;">
                    <div class="form-group col-md-8 col-md-offset-2">
                        <label> Ultimo Recibo de Sueldo de Empleado </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="textUltimoReciboSueldo" placeholder="No hay ningún archivo seleccionado..." disabled="">
                            <span class="input-group-btn">
                                <label class="btn btn-success" type="button">
                                    Seleccionar<input id="fileUltimoReciboSueldo" name="fileUltimoReciboSueldo" type="file" data-size-max="10" style="display:none;" accept="image/png,image/jpeg,application/pdf" onchange="fileUltimoRS();">
                                </label>
                            </span>
                        </div>
                        <div style="display: block;margin-top: 5px;margin-bottom: 10px;color: #737373;">
                            Tamaño máximo permitido 10MB
                        </div>
                    </div>
                </div>

                <br />
                <br />

                <fieldset>
                    <legend>Antecedentes</legend>
                </fieldset>
                <div class="row">
                    <div class="form-group has-feedback col-lg-4">
                        <div class="input-group ">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input class="form-control" data-error="SucesoraAntecedente es un campo requerido." data-validate="false" id="SucesoraAntecedente" name="SucesoraAntecedente" placeholder="Sucesora" onchange="changeCampos()" type="text" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-2">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input class="form-control bfh-phone" data-error="NumeroEmpresaAntecedente es un campo requerido." id="NumeroEmpresaAntecedente" name="NumeroEmpresaAntecedente" placeholder="N° Empresa" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                            <input class="form-control hasDatepicker" data-error="FechaTransferenciaAntecedente es un campo requerido." data-pattern-error="Verifique la fecha ingresada." id="FechaTransferenciaAntecedente" maxlength="10" name="FechaTransferenciaAntecedente" placeholder="F. Transferencia (DD/MM/YYYY)" type="text" value="" autocomplete="off" onfocus="(this.type='date')" onblur="(this.type='text')">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-equalizer"></span></div>
                            <select class="form-control" data-error="Localidad es un campo requerido." id="LocalidadAntecedente" name="LocalidadAntecedente" placeholder="Localidad">
                                <option value="0">- Localidad -</option>
                                @{
                                    if (ViewData["Localidades"] != null)
                                    {
                                        IEnumerable<dynamic> Localidad = (IEnumerable<dynamic>)ViewData["Localidades"];

                                        foreach (dynamic Loc in Localidad)
                                        {
                                            <option value="@Loc.Id">@Loc.Nombre_Localidad</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback col-lg-4">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
                            <input class="form-control" data-error="Calle es un campo uiuerido." id="CalleAntecedente" maxlength="200" name="CalleAntecedente" placeholder="Domicilio Particular" onchange="changeCampos()" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-2">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input class="form-control numeric" data-error="Piso es un campo requerido." data-val="true" data-val-number="The field Piso must be a number." data-val-required="The Piso field is required." id="PisoAntecedente" maxlength="10" name="PisoAntecedente" placeholder="N° Piso" type="text" value="">
                        </div>
                    </div>

                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-equalizer"></span></div>
                            <select class="form-control" data-error="Provincia es un campo requerido." data-val="true" id="ProvinciaAntecedente" name="ProvinciaAntecedente" placeholder="ProvinciaAntecedente">
                                <option value="0">- Provincia -</option>
                                @{
                                    if (ViewData["Provincia"] != null)
                                    {
                                        IEnumerable<dynamic> Provincia = (IEnumerable<dynamic>)ViewData["Provincia"];

                                        foreach (dynamic Loc in Provincia)
                                        {
                                            <option value="@Loc.Id">@Loc.Nombre</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></div>
                            <input class="form-control" data-error="Telefono es un campo uiuerido." id="TelefonoAntecedente" asas name="TelefonoAntecedente" placeholder="Telefono" data-format="ddddddddddddddd" maxlength="15" minlength="10" type="tel" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback col-lg-3">
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <button class="w3-right enviar w3-card bg-zul w3-text-white w3-hover-green w3-hover-border-cyan" type="button" onclick="insertarAntecedente()">
                            Agregar Antecedente
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Sucesora</th>
                                    <th>Numero</th>
                                    <th>Fecha Transf.</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="bodyAntecedente">
                            </tbody>
                        </table>
                    </div>
                </div>

                <br />
                <br />

                <fieldset>
                    <legend>Sucursales</legend>
                </fieldset>
                <div class="row">
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input class="form-control" data-error="Nombre es un campo uiuerido." id="NombreSucursal" name="NombreSucursal" placeholder="Nombre" onchange="changeCampos()" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-equalizer"></span></div>
                            <select class="form-control" data-error="Localidad es un campo requerido." id="LocalidadSucursal" name="LocalidadSucursal" placeholder="Localidad">
                                <option value="0">- Localidad -</option>
                                @{
                                    if (ViewData["Localidades"] != null)
                                    {
                                        IEnumerable<dynamic> Localidad = (IEnumerable<dynamic>)ViewData["Localidades"];

                                        foreach (dynamic Loc in Localidad)
                                        {
                                            <option value="@Loc.Id">@Loc.Nombre_Localidad</option>
                                        }
                                    }


                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
                            <input class="form-control" data-error="Calle es un campo uiuerido." id="CalleSucursal" name="CalleSucursal" placeholder="Calle" type="text" value="" onchange="changeCampos()">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-2">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-road"></span></div>
                            <input class="form-control" data-error="Altura es un campo uiuerido." id="AlturaSucursal" name="AlturaSucursal" placeholder="Altura" type="number" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></div>
                            <input class="form-control numeric" data-error="Telefono es un campo requerido." data-val="true" data-val-number="The field Telefono must be a number." data-val-required="The Telefono field is required." data-format="ddddddddddddddd" maxlength="15" minlength="10" id="TelefonoSucursal" name="TelefonoSucursal" placeholder="Telefono" type="tel" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <button class="w3-right enviar w3-card bg-zul w3-text-white w3-hover-green w3-hover-border-cyan" type="button" onclick="insertarSucursal()">
                            Agregar Sucursal
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Localidad</th>
                                    <th>Calle</th>
                                    <th>Telefono</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="bodySucursal">
                            </tbody>
                        </table>
                    </div>
                </div>

                <br />
                <br />

                <fieldset>
                    <legend>Contador</legend>
                </fieldset>
                <div class="row">
                    <div class="form-group has-feedback col-lg-4">
                        <div class="input-group ">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-equalizer"></span></div>
                            <input class="form-control" data-error="NombreEstudioContador es un campo requerido." data-validate="false" id="NombreEstudioContador" name="NombreEstudioContador" placeholder="Nombre Estudio" onchange="changeCampos()" type="text" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-4">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
                            <input class="form-control" data-error="DireccionContador es un campo requerido." id="DireccionContador" name="DireccionContador" placeholder="Direccion Contador" onchange="changeCampos()" type="text">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-4">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></div>
                            <input class="form-control" data-error="TelefonoContador es un campo requerido." id="TelefonoContador" name="TelefonoContador" data-format="ddddddddddddddd" maxlength="15" minlength="10" placeholder="Telefono Contador" type="tel">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                            <input class="form-control" id="EmailContador" maxlength="200" name="EmailContador" placeholder="Email" type="email" value="" onchange="changeCampos()">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                            <input class="form-control" id="EmailConfirmacionContador" maxlength="200" name="EmailConfirmacionContador" placeholder="Repetir Email" onchange="changeCampos()" required="required" type="email" value="">
                        </div>
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                    </div>
                    <div class="form-group has-feedback col-lg-3">
                    </div>
                </div>

                <br />

                <div class="form-footer">
                    <div class="form-group has-feedback col-lg-10">
                        <div class="input-group" style="margin-top: 1%; float: right;">
                            @if (ViewBag.Email != null)
                            {
                                <span>
                                    <b>Garantice la seguridad de su cuenta y manténgase actualizado</b>
                                </span>
                                <p>
                                    Se ha enviado un correo electrónico de verificación a <b>@ViewBag.Email</b>. Por favor
                                    revise su bandeja de entrada y siga las instrucciones para verificar su dirección de
                                    correo electrónico.
                                </p>
                            }
                        </div>
                    </div>


                    <input type="text" id="matrizEmpresa" name="matrizEmpresa" hidden />
                    <input type="text" id="matrizAntecedente" name="matrizAntecedente" hidden />
                    <input type="text" id="matrizContador" name="matrizContador" hidden />
                    <input type="text" id="matrizEmpleado" name="matrizEmpleado" hidden />
                    <input type="text" id="matrizTitular" name="matrizTitular" hidden />
                    <input type="text" id="matrizSucursal" name="matrizSucursal" hidden />


                    <div class="form-group has-feedback col-lg-2">
                        <div class="input-group">
                            <button class="btn btn-success" style="float:right;" type="submit" onclick="return enviar();">
                                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                Generar Solicitud
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        }

    </div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.error))
{
    <script type="text/javascript">
        alert("@ViewBag.error");
    </script>
}

@if (!string.IsNullOrEmpty(ViewBag.mensaje))
{
    <script type="text/javascript">
        alert("@ViewBag.mensaje");
    </script>
}

@section scripts{
    <script src="~/js/tabPag.js"></script>
    <script src="~/js/EnviarMatriz.js"></script>
}
